@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme{
    --color-negro-1: #000;
    --color-azul-1: #0F2634;
    --color-azul-2: #23475F;
    --color-azul-3: #688DA6;
    --color-blanco: #ffffff;
    --color-verde: #01CD6C;
    --color-gris-1: #B0B0B0;
    --color-gris-2: #D9D9D9;
    --color-gris-3: #FBFBFB;
    --color-rojo-1: #B01D1D;
    --color-rojo-2: #CD0104;

    --font-poppins: Poppins, "sans-serif";
}
